<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </head>
  <body>
  
    <div class="container mt-5">
      <div class="centered">
        <div class="text-center text-white">
          <title>sentiment analysis web app</title>
        </div>
        <h1 class="header text-center">Sentiment Analysis Web App</h1>
        <p class="desc text-center">
          Create by Flask , Bootstrap
        </p>
        <form method="POST" onSubmit="return validate();" class="form">
          
          <div class="form-floating mb-3">
            <input type="text" name="text" class="form-control"  id="floatingInput" placeholder="I love you">
            <label for="floatingInput">Type a sentence and click submit button.</label>

          
              
 <h5 class="text-center mt-2">Your sentence is " {{text}} " and it's
 <span class="{{ color }}">  {{ variable }}</span></h5>


              <div class=" d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-primary mt-2 text-center" onclick="this.form.submit();">
              Submit
            </button></div>


          </div>


         
        </form>
        

        <br />
        <br />
     
        
      </div>
    </div>
  </body>
</html>